#cssmenu{ 
    height:57px; 
    display:block; 
    padding:0;      
    float:right;
} 
#cssmenu > ul {
    list-style:inside none; 
    padding:0; 
    margin:0;
} 
#cssmenu > ul > li {
    list-style:inside none; 
    padding:0; 
    margin:0; 
    float:left; 
    display:block; 
    position:relative;
    
} 
#cssmenu > ul > li > a{ 
    height: 37px;/*58*/
    padding:20px 25px 0 25px;
    outline:none; 
    display:block; 
    position:relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold; 
    text-align:center; 
    text-decoration:none;
} 
#cssmenu > ul > li:last-child > a{
    padding-right: 0px;
}
#cssmenu ul li:hover > a{ 
    color: #FF5B02;
    background: url('../images/menu-down-arrow.png') no-repeat;
    background-position: 10px 25px; 
    z-index:999; 
} 
#cssmenu ul li:hover > ul, #cssmenu ul li:hover > div{
    display:block;
} 
#cssmenu ul li > a:hover{    
    background: url('../images/menu-down-arrow.png') no-repeat;
    background-position: 10px 25px; 
} 
#cssmenu ul li > ul, #cssmenu ul li > div{ 
    display:none; 
    width:auto; 
    position:absolute; 
    top:57px; 
    background: url('../images/sub-menu-bg.png') repeat;
    z-index:999; 
} 
#cssmenu ul li > ul{
    width:200px;
}

#cssmenu ul li > ul li{
    display:block; 
    list-style:inside none; 
    padding:0; 
    margin:0; 
    position:relative;
    border-bottom: 1px dotted #FFF;
}
#cssmenu ul li > ul li:last-child{
    bordeR: 0;
} 
#cssmenu ul li > ul li a{ 
    outline:none; 
    display:block; 
    position:relative; 
    margin:0; 
    padding:10px 25px 10px 30px; 
    font:13px Arial, Helvetica, sans-serif; 
    color:#fff; 
    text-decoration:none; 
    background: url('../images/sub-menu-icon.png') no-repeat;
    background-position: 7px 12px;
} 


#cssmenu > ul > li > ul > li a:hover{ 
    color: #000;
	 background: url('../images/sub-menu-icon.png') no-repeat !important;
    background-position: 7px 12px !important;
} 
 
#cssmenu > ul > li > a{ 
    color:#fff;
    text-transform: uppercase;
} 
#cssmenu > ul > li > a:hover, #cssmenu > ul > li > a.active{
    color: #FF5B02;
    background: url('../images/menu-right-arrow.png') no-repeat;
    background-position: 15px 25px; 
}

#cssmenu > ul >li.current-menu-item a{
	color: #FF5B02 !important;
    background: url('../images/menu-right-arrow.png') no-repeat;
    background-position: 15px 25px; 
}
